<template id="waiterDeclarer">
  <div id="waiterDeclarer">
    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Nombre</span>
  <input id="waiterNameInputField" type="text" class="form-control" placeholder="[Escribe el nombre]" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Modalidad</label>
  <select id="typeNameInputField" class="form-select" id="inputGroupSelect01">
    <option selected>[Selecciona el modo]</option>
    <option value="PART-TIME">PART-TIME</option>
    <option value="FULL-TIME">FULL-TIME</option>
  </select>
</div>
  
  <button id="sendDeclarationButton" class="primary-button">
        Declarar
    </button>
    </div>
</template>