<template id="tippableMemberDeclarer">
  <div id="tippableMemberDeclarer">
    <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Nombre</span>
  <input id="memberNameInputField" type="text" class="form-control" placeholder="[Escribe el nombre]" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
  <label class="input-group-text">Posición</label>
  <select id="positionNameSelectInput" class="form-select" id="inputGroupSelect01">
    <option selected>[Selecciona el puesto]</option>
    <option value="SPG">SPG</option>
    <option value="Delivery">Delivery</option>
  </select>
</div>
  
  <button id="sendDeclarationButton" class="primary-button">
        Declarar
    </button>
    </div>
</template>